.search {
  background-color: #121212;
  color: white;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  width: -webkit-fill-available;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #242424;
  padding: 15px;
  border-radius: 25px;
  margin: 20px;
  width: 40%;
}

input {
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
}

input:focus {
  outline: none;
}

p {
  color: white;
}
